version: "3.8"

volumes:
  metadata_data: {}
  middle_var: {}
  historical_var: {}
  broker_var: {}
  coordinator_var: {}
  router_var: {}
  druid_shared: {}

services:
  # Base de datos para Druid
  postgres:
    container_name: postgres-druid
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - metadata_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=FoolishPassword
      - POSTGRES_USER=druid
      - POSTGRES_DB=druid

  # Zookeeper
  zookeeper:
    container_name: zookeeper
    image: zookeeper:3.5.10
    ports:
      - "2181:2181"
    environment:
      - ZOO_MY_ID=1

  # Druid coordinator
  coordinator:
    image: apache/druid:34.0.0
    container_name: coordinator
    volumes:
      - druid_shared:/opt/shared
      - coordinator_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
    ports:
      - "8081:8081"
    command: ["coordinator"]
    env_file:
      - .env

  broker:
    image: apache/druid:34.0.0
    container_name: broker
    volumes:
      - broker_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8082:8082"
    command: ["broker"]
    env_file:
      - .env

  historical:
    image: apache/druid:34.0.0
    container_name: historical
    volumes:
      - druid_shared:/opt/shared
      - historical_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8083:8083"
    command: ["historical"]
    env_file:
      - .env

  middlemanager:
    image: apache/druid:34.0.0
    container_name: middlemanager
    volumes:
      - druid_shared:/opt/shared
      - middle_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8091:8091"
      - "8100-8105:8100-8105"
    command: ["middleManager"]
    env_file:
      - .env

  router:
    image: apache/druid:34.0.0
    container_name: router
    volumes:
      - router_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8888:8888"
    command: ["router"]
    env_file:
      - .env

  # API NestJS
  analytics-api:
    container_name: analytics-api
    build:
      context: ./analytics-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - router
      - postgres
    volumes:
      - ./analytics-api:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    working_dir: /usr/src/app

  # FRONTEND
  frontend:
    container_name: analytics-frontend
    build:
      context: ./analytics-dashboard
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    depends_on:
      - analytics-api
    volumes:
      - ./analytics-dashboard:/usr/src/app
      - /usr/src/app/node_modules
