version: "3.8"

volumes:
  metadata_data: {}
  middle_var: {}
  historical_var: {}
  broker_var: {}
  coordinator_var: {}
  router_var: {}
  druid_shared: {}

services:
  # --- PostgreSQL ---
  postgres:
    container_name: postgres-druid
    image: postgres:17
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - metadata_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}

  # --- Zookeeper ---
  zookeeper:
    container_name: zookeeper
    image: zookeeper:3.5.10
    ports:
      - "${ZOOKEEPER_PORT}:${ZOOKEEPER_PORT}"
    environment:
      - ZOO_MY_ID=${ZOO_MY_ID}

  # --- Druid coordinator ---
  coordinator:
    image: apache/druid:${DRUID_VERSION}
    container_name: coordinator
    volumes:
      - ${DRUID_SHARED_VOLUME}:/opt/shared
      - coordinator_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
    ports:
      - "${DRUID_COORDINATOR_PORT}:${DRUID_COORDINATOR_PORT}"
    command: ["coordinator"]
    env_file:
      - .env

  broker:
    image: apache/druid:${DRUID_VERSION}
    container_name: broker
    volumes:
      - broker_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "${DRUID_BROKER_PORT}:${DRUID_BROKER_PORT}"
    command: ["broker"]
    env_file:
      - .env

  historical:
    image: apache/druid:${DRUID_VERSION}
    container_name: historical
    volumes:
      - ${DRUID_SHARED_VOLUME}:/opt/shared
      - historical_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "${DRUID_HISTORICAL_PORT}:${DRUID_HISTORICAL_PORT}"
    command: ["historical"]
    env_file:
      - .env

  middlemanager:
    image: apache/druid:${DRUID_VERSION}
    container_name: middlemanager
    volumes:
      - ${DRUID_SHARED_VOLUME}:/opt/shared
      - middle_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "${DRUID_MIDDLEMANAGER_PORT}:${DRUID_MIDDLEMANAGER_PORT}"
      - "${DRUID_MIDDLEMANAGER_WORKER_PORTS}:${DRUID_MIDDLEMANAGER_WORKER_PORTS}"
    command: ["middleManager"]
    env_file:
      - .env

  router:
    image: apache/druid:${DRUID_VERSION}
    container_name: router
    volumes:
      - router_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "${DRUID_ROUTER_PORT}:${DRUID_ROUTER_PORT}"
    command: ["router"]
    env_file:
      - .env

  # --- API (NestJS) ---
  analytics-api:
    container_name: ${API_CONTAINER}
    build:
      context: ./analytics-api
      dockerfile: Dockerfile
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    depends_on:
      - router
      - postgres
    volumes:
      - ./analytics-api:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    working_dir: /usr/src/app

  # --- FRONTEND (Angular) ---
  frontend:
    container_name: ${FRONTEND_CONTAINER}
    build:
      context: ./analytics-dashboard
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - analytics-api
    volumes:
      - ./analytics-dashboard:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
